<%- include('header'); -%>

    <h2 class="subHeading">This is about page</h2>
    <p>TaskMaster is a versatile and user-friendly to-do list application designed to help individuals efficiently organize their tasks and manage their daily activities. Whether you're a busy professional, a student, or a homemaker, TaskMaster is the perfect digital companion to ensure you stay productive and focused throughout the day. </p>







    <%- include('footer'); -%>